body {
  background: rgb(251, 255, 251);
}

main {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

img {
  width: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
  color: #1C140D;
}

p, ol, ul {
  font-size: 1.1rem;
  line-height: 1.25em;
  font-weight: 200;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', sans-serif;
}