html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 80px;
    font-family: 'Lato';
    font-size: 14px;
    color: #444;
}

.navbar-default {
    background: white;
    border-color: #bbb;
    padding: 10px 0 0;
}

.nav > li {
    float: left;
}

.navbar-nav {
    margin: 0 -15px 5px;
}

.navbar-brand {
    padding-bottom: 5px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
a {
    color: #555;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:hover,
a:hover
{
    text-decoration: none;
    background: none;
    color: #4ECDC4;
}

#title a {
    text-decoration: none;
}

h1, h2, h3, .navbar-brand, .nav>li {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
}

.navbar-brand, .nav>li {
    font-weight: normal;
}

.navbar-brand {
    font-size: 32px;
}

h1 {
    font-size: 22px;
}

h2, .nav > li  {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.nav>li>a:hover {
    background: none;
}

#content {
    margin-top: 40px;
}

#content p:first-child {
    margin-top: 20px;
}

#content a {
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

#content a > p {
    display: inline-block;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -115px;
    padding: 0 0 115px
}

#main {
    margin-bottom: 40px;
}

.project {
    margin-bottom: 55px;
}

.project img {
    min-width: 100%;
    margin-bottom: 2px;
}

.project h2 {
    white-space: nowrap;
}

.project a > p {
    font-size: 12px;
}

footer {
    background: #556270;
}

footer .container {
    padding: 30px 10px;
}

footer li a {
    font-size: 18px;
    color: #bbb;
}

footer p {
    font-size: 11px;
    padding-left: 5px;
    color: #A2A2A2;
}

@media (min-width: 768px) {
    .navbar-default {
       padding: 22px 0;
    }

    .nav > li {
        display: block;
    }

    .navbar-brand {
        padding-bottom: 15px;
    }

    .project {
        margin-bottom: 0px;
        min-height: 360px;
    }

    .project img {
        max-width: 260px;
        height: 200px;
    }
}
