Cheetah==2.4.2.1
Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
PIL==1.1.7
Werkzeug==0.9.4
distribute==0.6.14
flup==1.0.2
itsdangerous==0.23
numpy==1.4.1
psycopg2==2.2.1
pyserial==2.3
reportbug==4.12.6
virtualenv==1.4.9
web.py==0.34
wsgiref==0.1.2
wxPython==2.6.3.2
wxPython-common==2.6.3.2
