<footer>
    <div class="container">
        <ul class="list-inline">
            <li><a target="_blank" class="fa fa-linkedin" href="http://uk.linkedin.com/pub/sam-desborough/56/a5a/122/"></a></li>
            <li><a target="_blank" class="fa fa-github-alt" href="http://github.com/{{ site.github_username }}"></a></li>
            <li><a target="_blank" class="fa fa-twitter" href="http://twitter.com/{{ site.twitter_username }}"></a></li>
            <li><a target="_blank" class="fa fa-stack-overflow" href="http://stackoverflow.com/users/1603850/desbo"></a></li>
        </ul>
        <p>&copy; samdesborough.net {{ site.time | date: '%Y' }}</p>
    </div>
</footer>
