@import url('cube.css');

html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 80px;
    font-family: 'Lato';
    font-size: 14px;
    color: #444;
}

.navbar-default {
    background: white;
    padding: 22px 0;
    border-color: #bbb;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
a {
    color: #555;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:hover, 
a:hover
{    
    text-decoration: none;
    background: none;
    color: #4ECDC4;
}

#title a {
    text-decoration: none;
}

h1, h2, h3, .navbar-brand, .nav>li {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
}

.navbar-brand, .nav>li {
    font-weight: normal;
}

.navbar-brand {
    font-size: 32px;
}

h1 {
    font-size: 22px;
}

h2, .nav > li  {
    font-size: 18px;
}

h3 { 
    font-size: 16px;
}

.nav>li>a:hover {
    background: none;
}

#content {
    margin-top: 40px;
}

#content p:first-child {
    margin-top: 20px;
}

#content a {
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

#content a > p {
    display: inline-block;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -135px;
    padding: 0 0 135px
}

#main {
    margin-bottom: 40px;
}

.project img {
    margin-bottom: 2px;
}

.project h2 {
    white-space: nowrap;
}

.project a > p {
    font-size: 12px;
}

footer {
    background: #556270;
}

footer .container {
    padding: 40px 10px;
}

footer li a {
    color: #bbb;
}

footer p {
    font-size: 11px;
    padding-left: 5px;
    color: #A2A2A2;
}