{% extends "base.html" %}
{% set current_page = "about" %}

{% block title %}About{% endblock %}

{% block section_content %}
    <p>Well, I hope you also carry a spare bowl of candy beans. You don't want a hungry dove down your pants. Taste the happy, Michael. Taste it. It tastes kind of like sad. It's so watery. And yet there's a smack of ham to it. I run a pretty tight ship around here. With a pool table. You were just a turd out there, you know? You couldn't kick, and you couldn't run, you know? You were just a turd. Chickens don't clap! The only thing more terrifying than the escaped lunatic's hook was his twisted call… Hey campers!</p>
{% endblock %}