{% set current_page = current_page|default('home') -%}

<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-160x160.png') }}" sizes="160x160" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/mstile-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ url_for('static', filename='img/mstile-70x70.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ url_for('static', filename='img/mstile-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ url_for('static', filename='img/mstile-310x150.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ url_for('static', filename='img/mstile-310x310.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} — Sam Desborough</title>
    {% endblock %}
</head>

<body>
    <div id="wrap">
        {% include "header.html" %}
        <div id="main">
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="row">
                            <div class="alert alert-info col-xs-9">{{ message }}</div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="row" id="content">
                    <div class="col-sm-{{ content_cols|default('8') }}">
                    {% if self.title() and current_page != 'home' %}
                        <h1>{{ self.title() }}</h1>
                    {% endif %}
                    {% if content_outside %}
                    </div>
                    {% endif %}

                    {% block section_content %}{% endblock %}

                    {% if not content_outside %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

</body>
</html>
