<footer>
    {# include "cube.html" #}

    <div class="container">
        <ul class="list-inline">
            <li><a target="_blank" class="fa fa-linkedin" href="http://uk.linkedin.com/pub/sam-desborough/56/a5a/122/"></a></li>
            <li><a target="_blank" class="fa fa-github-alt" href="http://github.com/desbo"></a></li>
            <li><a target="_blank" class="fa fa-twitter" href="http://twitter.com/samdesborough"></a></li>
        </ul>
        <p>&copy; samdesborough.net 2013</p>
    </div>
</footer>
