<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">Sam Desborough</a>
        </div>

        <ul class="navbar-nav navbar-right nav">
            <li{% if current_page == "work" %} class="active"{% endif %}><a href="{{ url_for('show', template='work') }}">Work</a></li>
            <li{% if current_page == "contact" %} class="active"{% endif %}><a href="{{ url_for('show', template='contact') }}">Contact</a></li>
        </ul>
    </div>
</header>
