<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">Sam Desborough</a>
        </div>

        <ul class="navbar-nav navbar-right nav">
            {% for name, title in nav %}
            <li{% if name == current_page %} class="active"{% endif %}><a href="{{ url_for('show', template=name) }}">{{ title }}</a></li>
            {% endfor %}
            {% if session.get('logged_in') == True %}
            <li{% if current_page == 'post' %} class="active"{% endif %}><a href="{{ url_for('post') }}">New post</a></li>
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% endif %}
        </ul>
    </div>
</header>
