{% extends "base.html" %}
{% set current_page = "home" %}

{% block section_content %}
<p>Hi! I’m a full-stack developer living in London. My skills include:</p>
<ul>
  <li>Browser and server-side JavaScript: AngularJS, Node.js (Express)</li>
  <li>PHP: Zend, Magento, Drupal, Wordpress</li>
  <li>Python: Flask, Django</li>
  <li>Ruby: Rails, Cucumber and RSpec automated testing</li>
  <li>HTML5/CSS (favouring Stylus)</li>
</ul>
<p>You’ll find some examples of my work <a href="/work">here</a>.</p>
{% endblock %}
