{% extends "base.html" %}
{% set current_page = "post" %}

{% block title %}New post{% endblock %}

{% block section_content %}
<form role="form" action="post" method="post">
    <div class="form-group">
        <label class="sr-only" for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label class="sr-only" for="text">Text</label>
        <textarea class="form-control" rows="15" name="text" placeholder="Text (markdown)"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Post</button>
</form>
{% endblock %}