{% extends "base.html" %}
{% set current_page = "work" %}
{% set content_cols = 12 %}
{% set content_outside = True %}

{% block title %}Selected Work{% endblock %}

{% block section_content %}
<div class="project col-xs-6 col-sm-4">
    <h2>Belly Kids</h2>
    <a href="http://www.bellykids.co.uk" target="_blank">
        <img src="/static/img/belly-kids.png">
        <p>http://www.bellykids.co.uk</p>
        <!-- <p><a href="http://www.bellykids.co.uk" target="_blank">http://www.bellykids.co.uk</a></p> -->
    </a>
    <p>A Wordpress theme for an independent publisher.</p>
</div>

<div class="project col-xs-6 col-sm-4">
    <h2>Samrai Associates</h2>
    
    <a href="http://www.samrai-associates.co.uk" target="_blank">
        <img src="/static/img/samrai-associates.png">
        <p>http://www.samrai-associates.co.uk</p>
    </a>
    <p>A responsive Drupal theme for an architectural design company.</p>
</div>
{% endblock %}