{% extends "base.html" %}
{% set current_page = "work" %}
{% set content_cols = 12 %}
{% set content_outside = True %}

{% block title %}Selected Work{% endblock %}

{% block section_content %}
    {% for project in projects %}
    <div class="project col-xs-12 col-sm-4">
        <h2>{{ project.name }}</h2>
        <a href="{{ project.url }}" target="_blank">
            <img class="img-responsive" src="{{ url_for('static', filename='img/work/%s' % project.image) }}">
            <p>{{ project.url }}</p>
        </a>
        <p>{{ project.info }}</p>
    </div>
    {% endfor %}
{% endblock %}